.container{
    margin-left: 30%;
    /* height: 300px; */
    background: rgb(56, 50, 50);
    margin-top: 5%;
    width: max-content;
    justify-content: center;
    justify-content: space-evenly;
    padding: 3%;
    border-radius: 12px;
    
}
.row1, .row2, .row3, .row4, .row5{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5%;
}
input{
    width: 400px;
    height: 80px;
    background-color: black;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    outline: none;
    border: none;
    border-bottom: 3px solid rgb(216, 162, 60);

}
input ::placeholder{
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}
button{
    height: 50px;
    width: 80px;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.row2 button{
    background-color: orange;
}

.row3 button{
    background-color: rgb(0, 255, 153);
}

.row4 button{
    background-color: rgb(0, 255, 153);
}

.row5 button{
    background-color:rgb(0, 255, 153);

}

